<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> homepage </h1>
    <p th:text="${content}"> Default value </p>
    <div>
        <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인 </a>
    </div>
    <div>
        <a sec:authorize="isAuthenticated()" th:href="@{/member}"> 내 정보 보기 </a>
    </div>
    <div>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}"> 로그아웃 </a>
    </div>
    <div>
        <a th:href="@{/board}"> 게시판 </a>
    </div>
</body>
</html>